/* ============ utilities styling ============ */

.creme-bg-color {
  /* background-color: #2F243A; */
  background: radial-gradient(#ffefd3, #fff8eb);
}

.teal-bg-color {
  /* background-color: #7D2562; */
  background: radial-gradient(#2ab9d2, #77d4e4);
}

.blue-bg-color {
  /* background-color: #FFEFD3; */
  /* fb44a0 */
  background: linear-gradient(75deg, #2233ca 25%, #626fe4 100%);
}

.content-row-margins {
  margin-top: 2em;
  margin-bottom: 2em;
}

.large-container-default {
  box-shadow: 5px 5px 5px rgba(59, 59, 59, 0.6);
  border-radius: 10px;
  border: none;
}

@media (max-width: 768px) {
  .content-row-margins {
    margin: 0;
  }
}

.utility-header {
  text-align: center;
}

.full-padding-halfem {
  padding: 0.5em;
}

.bottom-padding-1em {
  padding-bottom: 1em;
}

.bottom-padding-15em {
  padding-bottom: 1.5em;
}

/* ============ base styling ============ */

* {
  box-sizing: border-box;
}

body {
  background-image: url(/static/img/aldebaran-s-uXchDIKs4qI-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  min-width: 100vw;
  font-family: "Lato", sans-serif;
}

@media (max-width: 768px) {
  body {
    min-width: none;
  }
  body::-webkit-scrollbar {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

p,
.btn {
  font-family: "Lato", sans-serif;
}

.navbar-brand {
  font-weight: bold;
  padding: 0.3em;
  font-family: "Playfair Display", serif;
}

#navbarNav {
  justify-content: right;
  text-align: right;
  font-weight: bold;
}

@media (max-width: 768px) {
  #navbarNav {
    justify-content: center;
    text-align: center;
  }
}

.navbar-brand:hover {
  background-color: #7b8ac2;
  color: #d5d2cb;
  border-radius: 7px;
}

.nav-link:hover {
  background-color: #7b8ac2;
  color: #d5d2cb;
  border-radius: 7px;
}

html {
  scroll-behavior: smooth;
}

/*------------ base.html footer CSS ------------*/

/* footer {
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    color: #d5d2cb;
  }
  
  #footer-contact-info {
    justify-content: left;
    text-align: left;
    padding-left: 0px;
  }
  
  #footer-logo {
    justify-content: center;
    text-align: center;
    align-items: end;
  }
  
  #footer-logo-wrapper > * {
    padding-top: 15px;
  }
  
  #footer-nav {
    justify-content: right;
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #footer-nav ul {
    margin: 0;
    padding: 0;
  }
  
  @media (max-width: 768px) {
    #footer-nav {
      justify-content: center;
      text-align: center;
    }
  
    #footer-contact-info {
      justify-content: center;
      text-align: center;
    }
  } */
